<a href="https://colab.research.google.com/github/avanegasp/unicatalu-a/blob/gh-pages/Clase_2_Ucataluna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('/content/drive/MyDrive/spotify_artist_data.csv', header = None)

In [6]:
df

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
0,1,Drake,"50,162,292,808","19,246,513,666",262,6,130,19.09.22
1,2,Bad Bunny,"44,369,032,140","5,391,990,975",163,5,118,20.09.22
2,3,Ed Sheeran,"38,153,682,361","2,791,278,201",240,10,62,19.09.22
3,4,The Weeknd,"34,767,779,741","4,288,903,657",186,8,72,19.09.22
4,5,Taylor Swift,"32,596,728,109","424,053,296",323,1,96,20.09.22
...,...,...,...,...,...,...,...,...
1004,1005,Gotye,"1,424,591,618","10,576,378",46,1,1,31.07.22
1005,1006,NIKI,"1,422,920,850","231,405,433",55,0,4,14.09.22
1006,1007,Duke Dumont,"1,422,096,182","24,622,115",121,0,2,31.07.22
1007,1008,Laura Pausini,"1,421,622,604","293,291,443",434,0,0,13.09.22
1008,1009,Beck,"1,420,597,420","83,871,063",300,0,1,17.08.22