<a href="https://colab.research.google.com/github/avanegasp/unicatalu-a/blob/gh-pages/Comienzo_modulo3_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:

archivo_path = "/content/drive/MyDrive/mi_proyecto_unicataluña/Work_death/AgeDataset-V1.csv"
archivo_path

'/content/drive/MyDrive/mi_proyecto_unicataluña/Work_death/AgeDataset-V1.csv'

In [8]:
df = pd.read_csv(archivo_path)

df.head(5)

,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799.0,natural causes,67.0
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
2,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,homicide,56.0
3,Q254,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791.0,NaN,35.0
4,Q255,Ludwig van Beethoven,German classical and romantic composer,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827.0,NaN,57.0

In [9]:
df.describe()

         Birth year    Death year  Age of death
count  1.223009e+06  1.223008e+06  1.223008e+06
mean   1.844972e+03  1.914246e+03  6.927406e+01
std    1.479390e+02  1.516898e+02  1.662938e+01
min   -2.700000e+03 -2.659000e+03  0.000000e+00
25%    1.828000e+03  1.895000e+03  6.000000e+01
50%    1.887000e+03  1.955000e+03  7.200000e+01
75%    1.918000e+03  1.994000e+03  8.100000e+01
max    2.016000e+03  2.021000e+03  1.690000e+02

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1223009 entries, 0 to 1223008
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Id                 1223009 non-null  object
 1   Name               1223009 non-null  object
 2   Short description  1155109 non-null  object
 3   Gender             1089363 non-null  object
 4   Country            887500 non-null   object
 5   Occupation         1016095 non-null  object
 6   Birth year         1223009 non-null  int64
 7   Death year         1223008 non-null  float64
 8   Manner of death    53603 non-null    object
 9   Age of death       1223008 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 93.3+ MB

In [12]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.shape

(1223009, 10)

In [17]:
df = pd.DataFrame(df)

In [21]:
columnas = df.columns.tolist()
columnas

['Id',
 'Name',
 'Short description',
 'Gender',
 'Country',
 'Occupation',
 'Birth year',
 'Death year',
 'Manner of death',
 'Age of death']