<a href="https://colab.research.google.com/github/avanegasp/unicatalu-a/blob/gh-pages/Practica_individual_Ucatalu%C3%B1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Ahora cambio los tipos que tenía como 'object' a 'Category'

In [ ]:
archivo_path = '/content/drive/MyDrive/mi_proyecto_unicataluña/Fortune_500/Fortune500.csv'
dtype = { 'name': 'category',
                       'industry': 'category',
                        'sector': 'category',
                        'headquarters_state': 'category',
                        'headquarters_city': 'category',
                        'global_500': 'category',
                        'newcomer_to_fortune_500': 'category',
                        'female_ceo': 'category',
                        'founder_is_ceo': 'category',

              }
archivo_path

'/content/drive/MyDrive/mi_proyecto_unicataluña/Fortune_500/Fortune500.csv'

In [ ]:
df_fortune = pd.read_csv(archivo_path, dtype=dtype)

In [ ]:
df_fortune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13940 entries, 0 to 13939
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     13940 non-null  category
 1   rank                     13940 non-null  int64
 2   year                     13940 non-null  int64
 3   industry                 13940 non-null  category
 4   sector                   4500 non-null   category
 5   headquarters_state       13940 non-null  category
 6   headquarters_city        7495 non-null   category
 7   market_value_mil         5185 non-null   float64
 8   revenue_mil              13940 non-null  float64
 9   profit_mil               5497 non-null   float64
 10  asset_mil                5500 non-null   float64
 11  employees                4500 non-null   float64
 12  founder_is_ceo           4500 non-null   category
 13  female_ceo               4500 non-null   category
 14  newcomer_to_fortune_500  4500 non-null   category
 15  global_500               4000 non-null   category
dtypes: category(9), float64(5), int64(2)
memory usage: 1010.5 KB

In [ ]:
df_fortune.head(10)

,name,rank,year,industry,sector,headquarters_state,headquarters_city,market_value_mil,revenue_mil,profit_mil,asset_mil,employees,founder_is_ceo,female_ceo,newcomer_to_fortune_500,global_500
0,General Motors Corporation,1,1996,Motor Vehicles & Parts,NaN,MI,NaN,NaN,168828.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,1996,Motor Vehicles & Parts,NaN,MI,NaN,NaN,137137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,1996,Petroleum Refining,NaN,TX,NaN,NaN,110009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,1996,General Merchandisers,NaN,AR,NaN,NaN,93627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,1996,Telecommunications,NaN,NY,NaN,NaN,79609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,International Business Machines Corporation,6,1996,"Computers, Office Equipment",NaN,NY,NaN,NaN,71940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,General Electric Company,7,1996,"Electronics, Electrical Equipment",NaN,CT,NaN,NaN,70028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Mobil Corporation,8,1996,Petroleum Refining,NaN,VA,NaN,NaN,66724.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Chrysler Corporation,9,1996,Motor Vehicles & Parts,NaN,MI,NaN,NaN,53195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Philip Morris Companies,10,1996,Tobacco,NaN,NY,NaN,NaN,53139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_fortune.sample(5)

,name,rank,year,industry,sector,headquarters_state,headquarters_city,market_value_mil,revenue_mil,profit_mil,asset_mil,employees,founder_is_ceo,female_ceo,newcomer_to_fortune_500,global_500
5660,"US Airways Group, Inc.",216,2007,Airlines,NaN,AZ,Tempe,NaN,11557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8100,FirstEnergy Corp.,160,2012,Utilities: Gas and Electric,NaN,OH,Akron,NaN,16258.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7519,Amazon.com Inc.,78,2011,Internet Services and Retailing,NaN,WA,Seattle,NaN,34204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2820,Park Place Entertainment,355,2001,"Hotels, Casinos, Resorts",NaN,NV,NaN,NaN,4896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9782,AECOM,343,2015,Engineering & Construction,Engineering & Construction,CA,Los Angeles,4792.0,8357.0,230.0,6123.0,43300.0,no,no,no,NaN

In [ ]:
df_fortune

In [ ]:
df_fortune['headquarters_state']

0        MI
1        MI
2        TX
3        AR
4        NY
         ..
13935    NY
13936    CA
13937    SC
13938    CA
13939    CA
Name: headquarters_state, Length: 13940, dtype: category
Categories (45, object): ['AL', 'AR', 'AZ', 'CA', ..., 'UT', 'VA', 'WA', 'WI']

In [ ]:
df_fortune.describe()

,rank,year,market_value_mil,revenue_mil,profit_mil,asset_mil,employees
count,13940.000000,13940.000000,5.185000e+03,13940.000000,5497.000000,5.500000e+03,4.500000e+03
mean,250.511765,2009.537231,4.738633e+04,20225.158016,2501.271621,8.583805e+04,5.736614e+04
std,144.368022,8.071421,1.245715e+05,35994.023496,5626.509092,2.974978e+05,1.281823e+05
min,1.000000,1996.000000,5.610000e+00,48.290000,-12650.000000,2.450000e+01,5.200000e+01
25%,125.000000,2003.000000,5.637000e+03,5806.225000,390.000000,7.653750e+03,1.182075e+04
50%,250.500000,2010.000000,1.583500e+04,9587.500000,948.000000,1.906700e+04,2.533200e+04
75%,375.250000,2017.000000,4.269900e+04,19109.000000,2319.000000,5.134875e+04,5.800000e+04
max,500.000000,2023.000000,2.849538e+06,611289.000000,99803.000000,4.305288e+06,2.300000e+06

In [ ]:
df_fortune['employees'] = df_fortune['employees'] * 1e6